body {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #CFD8DC;
}

.text_default {
	font-family: 'Anton', sans-serif;
	font-size: 3vw;
	color: #FAFAFA;
}

.text_title {
	font-family: 'Bungee Shade', cursive;
	font-size: 4vw;
	color: #FAFAFA;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#status {
	position: fixed;
	top: 0%;
	left: 50%;
	margin-top: 0px;
	margin-left: -460px;

	width: 920px;
	height: 60px;
	background-color: transparent;
}

#scoreboard {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -100px;

	width: 200px;
	height: 100px;
	background-color: transparent;

	display: none;
}

#viewport_container {
	position: relative;
	left: 0px;
	top: 0px;
}


