body {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: #cfd8dc;
}

.text_default {
    font-family: "angryFont";
    padding-top: 10px;
    font-size: 4vw;
    color: #fafafa;
}

.text_title {
    font-family: "angryFont";
    font-size: 4vw;
    color: #fafafa;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#status {
    position: fixed;
    top: 0%;
    left: 50%;
    margin-top: 0px;
    margin-left: -460px;

    width: 920px;
    height: 60px;
    background-color: transparent;

    color: rgb(248, 162, 1);
    text-shadow: 1px 1px 7px black;
}

#scoreboard {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -100px;

    width: 200px;
    height: 100px;
    background-color: transparent;

    display: none;
}

#viewport_container {
    position: relative;
    left: 0px;
    top: 0px;
}

.lives_text {
    position: fixed;
    top: 0%;
    left: 23%;
    margin-top: 0px;
    margin-left: -460px;

    font-size: 1.5vw;
    color: lightgray;

    width: 920px;
    height: 60px;
    background-color: transparent;
}
